html
{
  font-size: 62.5%;
  line-height: 1;
  font-family: 'Red Hat Display', sans-serif;
}

body
{
  background-image: url(./images/pattern-background-desktop.svg);
  width: 100%;
  max-width: 144rem;
  background-color: hsl(225, 100%, 95%);
  margin: auto;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container
{
  
    background-color: hsl(0, 0%, 100%);
    width: 34.9rem;
    height: 59.9rem;
    border-radius: 2rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2rem 4rem -4rem hsl(0, 0%, 0%);
   
}

.card-img
{
  width: 100%;
  object-fit: contain;
}

.order-summary
{
  padding-top: 3rem;
  color: hsl(223, 47%, 23%);
  font-size: 1.07rem;
  text-shadow: .1rem 0 hsl(223, 47%, 23%);
  letter-spacing: .09rem;
  font-weight: 900;
  padding-inline: 2.4rem;
     
}

.description
{
  padding-top: 1rem;
  color: hsl(224, 23%, 55%);
  font-size: 1.5rem;
  font-kerning: normal;
  font-weight: 500;
  text-shadow: none;
  letter-spacing: 0;
  line-height: 2.5rem;
  padding-inline: 1rem;
}

.card-title
{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    padding-bottom: 5px;
    padding-top: 5px;
}


ul 
{
    background-color: hsl(225, 100%, 98%);
    margin-inline: 2.4rem;
    margin-top: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    border-radius: 1.5rem;
}

li 
{
    list-style-type: none;
    padding-top: .2rem;
}
  
b 
{
    color: var(--dark_blue);
}

.annual-plan
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    padding-inline: 1rem;
}

.plan-title
{
    font-size: 1rem;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.price
{
    color: hsl(224, 23%, 55%);
    margin-left: 2rem;
    margin-right: auto;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500
}

.change-button
{
    display: flex;
    align-items: center;
    color: hsl(245, 75%, 52%);
    text-underline-offset: .1rem;
    font-size: 1.3rem;
    font-weight: 700;
    transition: 100ms;
    cursor: pointer;
}

.change-button a:hover
{
    text-decoration: none;
    color: hsl(223, 47%, 23%);
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
    transition: text-decoration 200ms ease-in-out;
}

.proceed-button
{
      
  width: 27.9rem;
  height: 5rem;
  box-shadow: 0rem 1rem 4rem -1rem hsla(245, 75%, 52%, 0.753);
  background-color: hsl(245, 75%, 52%);
  color: white;
  font-weight: 900;
  line-height: 5rem;
  margin-inline: auto;
  margin-top: 2.3rem;
  margin-bottom: 2.6rem;
  border-radius: 1.1rem;
  letter-spacing: 0.025rem;
  transition: 100ms;
  cursor: pointer;
}

.proceed-button:hover
{
   background-color: hsl(223, 47%, 23%);
}

.proceed
{
  text-decoration: none;
  color: white;
}


.cancel-button
{
  background: none;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  transition: 100ms;
  cursor: pointer;
}

.cancel:hover
{
    color: hsl(223, 47%, 23%);
}

.cancel
{
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  transition: 100ms;
}

.attribution 
{
    
    bottom: .5rem;
    font-size: 11px; 
}

.attribution a 
{
     color: hsl(228, 45%, 44%); 
     transition: 100ms;;
}

.attribution a:hover
{
 color: hsl(223, 47%, 23%);
}
